// utilities
@import "./styles/components/general";
@import "./styles/components/colors";

// website styles
@import "./styles/mainpage";
@import "./styles/components/originalWebsite";
@import "./styles/components/header.scss";
@import "./styles/components/navigation.scss";
@import "./styles/components/imageContainer.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $black;
}
