// utilities
@import "./styles/components/colors";
@import "./styles/components/general";
@import "./styles/components/animations";
@import "./styles/components/mixins";

// website styles
@import "./styles/mainpage.scss";
@import "./styles/notFoundPage.scss";
@import "./styles/privacypolicypage.scss";
@import "./styles/imagesSelectionPage.scss";
@import "./styles/breedsInfoPage.scss";
@import "./styles/components/originalWebsite";
@import "./styles/components/header.scss";
@import "./styles/components/navigation.scss";
@import "./styles/components/imageContainer.scss";
@import "./styles/components/suggestions.scss";
@import "./styles/components/upButton.scss";
@import "./styles/components/catsino.scss";
@import "./styles/components/footer.scss";
@import "./styles/components/discover.scss";
@import "./styles/components/searchInput.scss";
@import "./styles/components/userSidePanel.scss";
@import "./styles/components/pagination.scss";
@import "./styles/components/popup.scss";
@import "./styles/components/fastSelect.scss";

// media queries
@import "./styles/mq_main.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $black;
  overflow-x: hidden;
}