a {
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:active {
    color: $white;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: color .3s;
}

* {
  scrollbar-color: $orange $black;
}