a {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: inherit;
  }
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  transition: color .3s;
  cursor: pointer;
}

* {
  scrollbar-color: $orange $black;
}

.loading-icon {
  margin: 0 auto;
}