.image-container {
  width: 100%;
  max-width: 550px;
  margin: 2rem auto 6rem;
  height: 320px;
  background-color: $black;
  font-size: 1.25rem;
  color: $white;

  &__image {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-height: 250px;
  }

  &__info,
  &__favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }

  &__info {
    padding: 1rem;
  }

  &__favorite {
    padding: 0rem 1rem;
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
  }

  &__info-views {
    margin-right: 1rem;
  }

  &__heart-icon {
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.3s, scale 0.3s;

    &:hover {
      color: $orange;
      scale: 1.2;
    }

    &:focus {
      color: $white;
    }
  }

  &__favorite-text {
    font-weight: 700;
  }

  &__rating {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 4;

    & > div > div > span {
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -2;
    background-color: #11111199;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__username {
    padding: 0rem 1rem;
  }
}

// Set dynamically
.rating-show-popup {
  opacity: 1;
  z-index: 3;
}

.favorite-clicked {
  color: $orange;
}
