.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;

  &__ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  &__option {
    text-align: center;
    width: 100%;
    height: 100%;
    color: $orange;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: $white;
      border: 2px solid $orange;
    }
  }
}

// Set dynamically
.pagination-active {
    border: 2px solid $orange;
}