.notfound {
  margin: 5rem 0;

  &__h1 {
    text-align: center;
    color: $orange;
    padding: 1rem;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  &__404 {
    color: $orange;
    text-align: center;
    font-size: 3rem;
  }

  &__mainpage {
    display: block;
    margin: 0 auto;
    color: $gray;
    font-size: 2rem;
    cursor: pointer;
    transition: color .3s;

    &:hover {
        color: $white;
    }
  }
}
